@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #63afd0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  margin-bottom: 0px;
}

a {
  padding: 0px;
}

ul {
  padding-left: 0;
  margin-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.panel {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  max-height: 1045px;
  width: 150px;
  background: #63afd086;
  z-index: 200;
}

.fixed-panel {
  position: absolute;
  bottom: 86px;
  left: 0px;
  height: 535px;
  width: 150px;
  z-index: 200;
}

.fixed-panel h3 {
  position: absolute;
  top: 64px;
  left: -47px;
  height: 25px;
  width: 242px;
  transform: rotate(-90deg);
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #c4c4c4;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 200;
}

.fixed-panel hr {
  position: absolute;
  left: 33px;
  top: 260px;
  transform: rotate(90deg);
  width: 80px;
  height: 3px;
  border: none; /* Убираем границу для браузера Firefox */
  color: #c4c4c4; /* Цвет линии для остальных браузеров */
  background-color: #c4c4c4; /* Цвет линии для браузера Firefox и Opera */
  z-index: 200;
}

.fixed-panel ul {
  position: absolute;
  bottom: 0px;
  left: 39%;
  text-align: center;
  font-size: 26px;
  color: #c4c4c4;
  z-index: 200;
}

.fixed-panel li {
  margin-top: 11px;
}

.fixed-panel a {
  color: #c4c4c4;
}

.fixed-panel a:hover {
  color: #d1a954;
}
/* ######### */
/* MAIN PAGE */
/* ######### */
.main-page {
  position: relative;
  height: 100vh;
  max-height: 1045px;
  background-image: url("../assets/img/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.main-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #63afd056;
}
.header-navigation {
  padding: 0;
}
.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  line-height: 0.3;
  z-index: 10000;
}
.navbar-toggler-icon {
  height: 3px;
  color: #c4c4c4;
  background-color: #c4c4c4;
}

.header-navigation a {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #c4c4c4;
  padding: 0px;
}

.header-navigation a:hover {
  color: #d1a954;
}

.main-menu li:last-child a {
  margin-left: 167px;
  letter-spacing: 0.4px;
}
.main-menu li:last-child a::after {
  content: "";
  display: block;
  width: 119px;
  height: 2px;
  background-color: #d1a954;
}

.main-menu {
  margin-left: 398px;
  margin-top: 47px;
}

.main-page h1 {
  position: absolute;
  top: 384px;
  left: 404px;
  font-size: 64px;
  color: #fff;
}
.main-description {
  position: absolute;
  top: 491px;
  left: 404px;
  height: 79px;
  width: 540px;
  font-size: 14px;
  color: #fff;
}

#preview {
  position: absolute;
  top: 600px;
  left: 404px;
  height: 50px;
  width: 160px;
  background-color: #d1a954;
  font-family: "Open Sans Condensed";
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-carousel {
  position: absolute;
  width: 350px;
  height: 490px;
  left: 1056px;
  top: 267px;
  background-color: #d1a954;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  margin-top: 615px;
}

/* #################### */
/*       about          */
/* #################### */

.about-box {
  min-height: 457px;
  width: 100%;
  max-width: 1110px;
  margin: auto;
  margin-top: 150px;
  color: #fff;
  font-family: "Open Sans Condensed";
  text-align: center;
  text-transform: uppercase;
}

.about-box h3 {
  font-size: 48px;
  font-weight: 300;
}

.about-box img {
  float: left;
  height: 292px;
  width: 350px;
  margin-left: 30px;
}

.about-box h3::first-letter {
  color: #d1a954;
}

.about-description {
  margin-top: 100px;
  text-align: left;
}

.about-description h4 {
  font-family: "Open Sans Condensed";
  font-size: 21px;
  font-weight: 700;
  letter-spacing: 10%;
}

.project-description {
  float: left;
  width: 445px;
}
.project-description p {
  margin-top: 40px;
  font-family: "Open Sans Condensed";
  font-size: 14px;
  font-weight: 400;
}

.project-numbers {
  float: left;
  margin-left: 30px;
  width: 255px;
}
.fa-book {
  margin-top: 40px;
  font-size: 40px;
  font-weight: 100;
}
#circulation {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
}
#circulation span {
  color: #d1a954;
}
.fa-globe {
  margin-top: 21px;
  font-size: 40px;
}

#translate-book {
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  text-transform: lowercase;
}
#translate-book span {
  color: #d1a954;
}

/* ##################### */
/*     out-articles      */
/* ##################### */

.our-articles-block {
  width: 100%;
  margin: auto;
  margin-top: 68px;
  color: #fff;
  font-family: "Open Sans Condensed";
  text-align: center;
  text-transform: uppercase;
}

.our-articles-block h3 {
  font-size: 48px;
  font-weight: 300;
}
.our-articles-block h3 span {
  color: #d1a954;
}

.articles-container {
  margin-top: 100px;
}

.article-poster {
  float: left;
  height: 550px;
  width: 442px;
  text-align: center;
  overflow: hidden;
}

.article-poster a h5 {
  position: absolute;
  top: 40px;
  left: 55px;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.article-poster a h5:hover {
  color: #d1a954;
}

.month {
  position: absolute;
  left: 46px;
  bottom: -56px;
  height: 120px;
  width: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  white-space: nowrap;
}

.month h6 {
  transform: rotate(-90deg);
}

.article-poster img {
  height: 550px;
  width: 442px;
}

/* ##################### */
/*     partners block    */
/* ##################### */

.partners-block {
  width: 100%;
  color: #fff;
  text-align: center;
}

.partners-block h3 {
  margin-top: 137px;
  font-size: 48px;
  font-weight: 300;
}

.partners-block h3 span {
  color: #d1a954;
}

.partners-container {
  margin-top: 150px;
}

.partner-logo-box {
  font-size: 100px;
  font-weight: normal;
  color: #fff;
}
/* ##################### */
/*         mail          */
/* ##################### */

.mail-block {
  width: 100%;
  margin: auto;
  margin-top: 68px;
  margin-bottom: 50px;
  color: #fff;
  font-family: "Open Sans Condensed";
  text-align: center;
  text-transform: uppercase;
}

.mail-block h3 {
  margin-top: 137px;
  font-size: 48px;
  font-weight: 300;
}

.mail-block h3 span {
  color: #d1a954;
}

.mail-block form {
  margin-top: 70px;
}

.form-control {
  width: 50%;
  margin: auto;
}
/*поле для текста*/
#exampleFormControlTextarea1 {
  height: 150px;
}

@media screen and (max-width: 1420px) {
  .main-carousel {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .main-page h1 {
    left: 25%;
  }
  .main-description{
    left: 25%;
  }
  #preview{
    left: 25%;
  }
  .main-menu {
    margin-left: 245px;
    margin-top: 47px;
}
  .main-menu li:last-child a {
    margin-left: 0px;
    letter-spacing: 0.4px;
  }
  .about-box img {
    display: none;
  }
  .about-description div {
    float: none;
    margin: auto;
    text-align: center;
  }
}
