@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");

body {
  margin: 0px;
  padding: 0px;
  height: 4000px;
  background-color: #63afd0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  margin-bottom: 0px;
}

a {
  padding: 0px;
}

ul {
  padding-left: 0;
  margin-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.panel {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  max-height: 1045px;
  width: 150px;
  background: #63afd086;
  z-index: 200;
}

.fixed-panel {
  position: absolute;
  bottom: 86px;
  left: 0px;
  height: 535px;
  width: 150px;
  z-index: 200;
}

.fixed-panel h3 {
  position: absolute;
  top: 64px;
  left: -47px;
  height: 25px;
  width: 242px;
  transform: rotate(-90deg);
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #c4c4c4;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 200;
}

.fixed-panel hr {
  position: absolute;
  left: 33px;
  top: 260px;
  transform: rotate(90deg);
  width: 80px;
  height: 3px;
  border: none; /* Убираем границу для браузера Firefox */
  color: #c4c4c4; /* Цвет линии для остальных браузеров */
  background-color: #c4c4c4; /* Цвет линии для браузера Firefox и Opera */
  z-index: 200;
}

.fixed-panel ul {
  position: absolute;
  bottom: 0px;
  left: 39%;
  text-align: center;
  font-size: 26px;
  color: #c4c4c4;
  z-index: 200;
}

.fixed-panel li {
  margin-top: 11px;
}

.fixed-panel a {
  color: #c4c4c4;
}

.fixed-panel a:hover {
  color: #d1a954;
}
/* ######### */
/* MAIN PAGE */
/* ######### */
.main-page {
  position: relative;
  height: 100vh;
  max-height: 1045px;
  background-image: url("../assets/img/main-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.main-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #63afd056;
}
.header-navigation {
  padding: 0;
}
.navbar-toggler {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 60px;
  line-height: 0.3;
  z-index: 10000;
}
.navbar-toggler-icon {
  height: 3px;
  color: #c4c4c4;
  background-color: #c4c4c4;
}

.header-navigation a {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #c4c4c4;
  padding: 0px;
}

.header-navigation a:hover {
  color: #d1a954;
}

.main-menu li:last-child a {
  margin-left: 167px;
  letter-spacing: 0.4px;
}
.main-menu li:last-child a::after {
  content: "";
  display: block;
  width: 119px;
  height: 2px;
  background-color: #d1a954;
}

.main-menu {
  margin-left: 398px;
  margin-top: 47px;
}

.main-page h1 {
  position: absolute;
  top: 384px;
  left: 404px;
  font-size: 64px;
  color: #c4c4c4;
}
.main-description {
  position: absolute;
  top: 491px;
  left: 404px;
  height: 79px;
  width: 540px;
  font-size: 14px;
  color: #c4c4c4;
}

#preview {
  position: absolute;
  top: 600px;
  left: 404px;
  height: 50px;
  width: 160px;
  background-color: #d1a954;
  font-family: "Open Sans Condensed";
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.main-carousel {
  position: absolute;
  width: 350px;
  height: 490px;
  left: 1056px;
  top: 267px;
  background-color: #d1a954;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  margin-top: 615px;
}
@media screen and (max-width: 1420px){
  .main-carousel {
    display: none;
  }
}

@media screen and (max-width: 1140px) {
  .main-menu li:last-child a {
    margin-left: 0px;
    letter-spacing: 0.4px;
  }
}
