@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap");
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
  margin-bottom: 0px;
}

a, p {
  padding: 0px;
  margin: 0;
}

ul {
  padding-left: 0;
  margin-left: 0;
  margin: 0;
}

li {
  list-style: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.container, .navbar, .container-fluid {
  padding: 0;
}
.row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.header-container {
  position: relative;
}

#logo {
  height: 25px;
  width: 32px;
  margin-top: 35px;
}

.navbar-expand-lg {
  justify-content: space-between;
}

.navbar-collapse {
  flex-basis: auto;
  margin-top: 30px;
  margin-right: 40px;
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-collapse a {
  color: #191919;
  font-weight: 500;
}
.navbar-collapse a:hover {
  color: #10c9c3;
}
.navbar-toggler {
  position: absolute;
  top: 38px;
  right: 10px;
  width: 60px;
  line-height: 0.3;
  z-index: 10000;
}
.navbar-toggler-icon {
  height: 3px;
  color: #10c9c3;
  background-color: #10c9c3;
}

.banner-block {
  position: relative;
  min-height: 670px;
  background-image: url(../assets/img/banner-bg.jpg);
  background-position: top;
  background-size: cover;
}

.banner-container {
  position: relative;
}

.main-title {
  position: absolute;
  top: 90px;
  right: 23px;
  height: 230px;
  width: 490px;
  color: #10c9c3;
}

.main-description p {
  margin-top: 20px;
  color: #10c9c3;
  font-size: 20px;
}

#preview {
  height: 56px;
  width: 180px;
  background-color: #10c9c3;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

#preview:hover {
  background-color: #191919;
  transition: background-color 0.5s;
}

.about-us-container {
  height: 420px;
  color: #191919;
  text-align: center;
}

.about-us-container h3 {
  font-size: 30px;
  margin-top: 100px;
}
.about-us-container p {
  font-size: 18px;
  margin-top: 40px;
}
.about-us-container img {
  margin-top: 40px;
}

.skills-block {
  position: relative;
  width: 100%;
}

.professional-skills {
  position: inherit;
  margin: 0 auto;
  padding: 0;
  height: 571px;
}

.skills-container h5{
  display: inline-block;
  margin-top: 165px;
  font-size: 30px;
}

.skills-container p {
  margin-top: 35px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.progress {
  height: 3px;
  width: 500px;
  margin-top: 20px;
}

.progress .progress-bar {
  background-color: #10c9c3;
}

.bg-pro-skills{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 571px;
  width: 50%;
  background-color: #fff;
  z-index: -1;
}


.skills-poster {
  position: inherit;
  padding: 0;
  margin: 0;
  height: 571px;
  margin: auto;
}

.bg-skills-poster{
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 571px;
  width: 50%;
  background-color: #e9e9e9;
  z-index: -2;
}

.numbers-block{
  min-height: 240px;
  width: 100%;
  margin-bottom: 0;
  background-color: #10c9c3;
}

.numbers-icon{
  margin: 0;
  margin-top: 100px;
  padding: 0;
  padding-left: 3px;
  min-width: 240px;
}

.numbers-icon:last-child{
  margin-top: 100px;
  margin-bottom: 100px;
}

.numbers-icon img {
  float: left;
  height: 40px;
}

.num-box {
  float: left;
  margin-left: 20px;
}

.num-box p:first-child{
  margin-top: -4px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  
}

.num-box p:last-child{
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}

.work-icon{
  margin: 0;
  padding: 0;
  height: 300px;
  min-width: 345px;
  background-color: #10c9c3;
  overflow: hidden;
}

.work-icon img {
  height: 100%;
  width: 100%;
}

.work-icon img:hover {
  opacity: 0.7;
  transition: opacity 0.5;
}

.load-more-cont {
  text-align: center;
}

.load-more-cont button{
  height: 100px;
  margin: auto;
  background-color: #f5f5f5;
  font-size: 14px;
  font-weight: 500;
  color: #8e8e8e;
  text-transform: uppercase;
}

.load-more-cont button:hover{
  background-color: #8e8e8e;
  color: #191919;
  border-radius: 0 0 30px 30px;
  transition: background-color 0.5s, border-radius linear 0.3s;
}

.work-proc-block{
  color: #191919;
  text-align: center;
}

.work-proc-block h3 {
  font-size: 30px;
  margin-top: 100px;
}
.work-proc-block p {
  font-size: 18px;
  margin-top: 40px;
}

.video-container{
  display: inline-block;
  margin-top: 60px;
}

.proc-video-box{
  height: 570px;
  padding: 0;
}

.service-block {
  margin-top: 105px;
}

.service-block .row{
  padding-top: 100px;
}

.service-block .row:last-child{
  padding-top: 60px;
  margin-bottom: 100px;
}


.service-icon{
  height: 135px;
  text-align: center;
}


.service-icon p{
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #191919;
  text-transform: uppercase;
}


.service-icon p:last-child{
  margin-top: 20px;
  font-size: 12px;
  color: #8e8e8e;
  text-transform: none;
}

.testimonial-block {
  background-color: #10c9c3;
}

.carousel-item{
  height: 330px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.carousel-item h5{
  margin-top: 170px;
  font-size: 24px;
  font-weight: 700;
}

.carousel-item p{
  margin-top: 40px;
  font-size: 16px;
}

.carousel-indicators li{
  height: 6px;
  width: 6px;
  margin: 4px;
  border-radius: 50%;
  background-color: #8e8e8e;
}


@media screen and (max-width: 1420px) {
  .skills-poster, .professional-skills {
    float: none;
  }
}

@media screen and (max-width: 1140px) {
  .navbar-collapse {
    margin-right: 100px;
  }

  .main-title {
    right: 25%;
  }

  .progress {
    height: 3px;
    width: 262px;
    margin-top: 20px;
  }
  
}
